<h1> About Heritage </h1>

<h3>
Thanks for checking out Heritage!

<br>
<br>
This application connects owners looking to transition ownership of their business to motivated managers interested in buying a business.


Thanks and enjoy the site!

</h3>
