<h1>Heritage</h1><br><br>
<a href = "http://localhost:3000/sellers/new">
  <div class>
      <input type="submit" value="I'm an owner" class="btn btn-primary">
</a>

<a href = "http://localhost:3000/buyers/new">
      <input type="submit" value="I'm a buyer" class="btn btn-danger">
  </div>
</a>
<div class>


<a href = "http://localhost:3000/about">
      <input type="submit" align = "center" value="ReadMe" class="btn btn-info">
  </div>
</a>
